*{
	padding:0;
	margin:0;
}
body{
	background-color: lightblue;
}
.main{
	width:1170px;
	margin: 0 auto;
}

.logo{
	
	background:gray;
}
.logo img {
    width: 5%;
    margin-top: 3px;
}
.logo p {
    float: right;
    width: 90%;
    text-align: right;
    margin-top: 14px;
	margin-right:5px;
    font-size: 33px;
    font-family: sans-serif;
    color: white;
	
}

.header{}
.header img{
	width:1170px;
}

.menu{
	display:block;
	overflow:hidden;
	background:gray;
	padding-top:0;
	margin-top: -4px;
		
}
.menu ul{
	margin:0;
	padding:0;
	list-style:none;

}
.menu ul li{
	display:inline-block;
	border-right:1px solid red;
	margin-left: -5px;
}

.menu ul li a{
	text-decoration:none;
	padding:10px;
	display:block;
	color:white;
	font-family:sans-serif;
	font-size:20px;
	
}
.menu ul li:last-child{
	border-right:none;
}
.menu ul li a:hover{
	color:#034FA0;
	background:#EA611B;
}

.maincontent{
	background:#EB621B;
	margin-top:0px;
	display:block;
	overflow:hidden;
	padding:10px;
}
.sidebar{
	width:20%;
	float:left;
	

}
.sidebar ul{
	margin:0;
	padding:0;
	list-style:none;
}
.sidebar ul li{
	border-bottom:1px solid #F7E70D;
}
.sidebar ul li:last-child{
	border-bottom:0px;
}
.sidebar ul li a{
	text-decoration:none;
	padding:5px;
	display:block;
	color:#075098;
	font-family:sans-serif;
	font-size:18px;
}
.sidebar ul li a:hover{
	color:#FFFFFF;
	background:gray;
}

.container{
	width:75%;
	float:right;
	margin-bottom:15px;
}
.container h3{
	text-transform:uppercase;
	font-size:20px;
	font-family:sans-serif;
	color:#075098;
}
.container p{
	color:white;
	font-size:16px;
	text-align:justify;
}

.footer{
	background:gray;
	padding:20px;
}
.footer p{
	text-align:center;
	color:white;
}
/* about section start */
.about{
	
	color:black;
	background:#F7E50A;
	width:75%;
	float:right;
	padding:15px;
}
/* about section end */



